<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cssch3 box model </title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .content{
            height: 323px;
            width: 344px;
            background-color: red;
            /* margin: 7px 3px; */
            padding: 13px;
        border: 4px solid black;
            /* border-width:5px ;
            border-style:dashed double ;
            border-color:blue ; */
            border-radius: 40px;
        }
    </style>
</head>
<body>
    <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque aliquid recusandae ex, cumque corporis nostrum possimus eveniet eos culpa. Inventore illum est quaerat voluptas similique, quam voluptatibus, placeat quod, in pariatur ipsa aliquam impedit.
    </div>
</body>
</html>
