<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            background-color: red;
            height: 425px;
        }
        .box{
            border: 2px solid black;
             
            /* transform: translate(134px, 64px) rotate(1.2turn); */
            transform-origin: 0;
            /* transform:scale(2,3); */
            /* transform: skew(4deg, 0deg); */
         }
    </style>
</head>

<body>
    <div class="container">
        <div class="box">
            <img src="https://source.unsplash.com/random/1*1" alt="">
         </div>
    </div>
</body>

</html>
