<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ch 4 Practise set</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .center{
            text-align: center;
        }

        footer {
            font-family: 'Baloo Bhai 2', cursive;
            background:black;
            color: white;
            padding: 24px;
            text-transform: uppercase;
        }

        .navbar {
            height: 70px;
            background-color: black;
            color: white;
         }
         .navbar ul li a{
             color: white;
             text-decoration: none;
         }
         .navbar ul li{
             display: inline-block;
             margin: 25px 15px;
             font-size: 20px;
         }

        .left {
            height: 90vh;
            width: 50%;
            background-color: blue;
            display: inline-block;
              
        }

        .right {
            height: 90vh;
            width: 50%;
            background-color: red;
            display: inline-block;
            /* display: none; */
        }
    </style>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div><div class="left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates beatae repellendus molestiae saepe deserunt. Saepe voluptates exercitationem ullam esse expedita ut reiciendis aliquid in illo quam, ipsa cumque voluptas quis id doloremque impedit nisi.
    </div><div class="right">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, incidunt. Facere quis sint molestiae, neque velit, eligendi corrupti amet aut soluta distinctio omnis, voluptas ipsum aspernatur earum dolorum molestias veniam ratione odit! Temporibus, quo?
    </div><footer>
        <p class="center">
            Copyright &copy practice set 4- All rights reserved
        </p>
        
    </footer>
</body>

</html>
